Welcome to the documentation one the network multiplayer game middleware for L3 POO MIAGE students.

Find useful information on the related page:

* [Configuration](configuration.html)
* [Download](download.html)
* [Usage Example](usage.html)

Finally, you can find a full-fledged 2 project examples [TICTACTOE](https://github.com/UFR27/L3_POO_TICTACTOE) and [WAR GAME](https://github.com/UFR27/L3_POO_WAR) that use this project for the network game.
